<!-- ketik html:5 -->
<!DOCTYPE html>
<html lang="en">

<!-- head tidak tertampil di halaman web -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- title yang muncul di tab bar browser -->
    <title>Document</title>

    <!-- link yang menyambungkan html dengan css -->
    <link rel="stylesheet" href="style.css">

    <!-- link yang menyambungkan html dengan google font supaya bisa digunakan -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    
    <!-- style yang ditaruh di head (tidak perlu membuat file css) -->
    <style>
        /* semua yang di bawah div akan berwarna biru muda */
        div{
            color: aquamarine
        }
    </style>
</head>

<!-- body yang tertampil di halaman web -->
<body>
    <!-- hr: membuat garis -->
    <hr>

    <!-- img: menampilkan gambar -->
    <img src="../img/html.png" alt="html">

    <!-- ul: unordered list -->
    <ul>
        <li>mangga</li>
        <li>pisang</li>
        <li>jambu</li>
    </ul>

    <!-- ol: ordered list -->
    <ol>
        <li>mangga</li>
        <li>pisang</li>
        <li>jambu</li>
    </ol>

    <!-- h1 - h6: header -->
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <h6>H6</h6>

    <!-- div: kotakan/region -->
    <div>
        <!-- p: paragraf -->
        <!-- ketik lorem -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aperiam eveniet laboriosam cupiditate ex soluta id quisquam deserunt totam et, velit deleniti tenetur debitis cumque voluptate labore, asperiores reprehenderit magni.</p>
    </div>

    <!-- membuat class dalam p -->
    <!-- span: mengelompokkan bagian tertentu -->
    <p class="coklat">Lorem <span style="color: red">ipsum</span> dolor sit amet, consectetur adipisicing elit. Nulla perferendis officia sapiente ex enim quaerat error, laudantium maiores distinctio laboriosam obcaecati qui ab repellendus dolorem, harum provident, excepturi sit aspernatur?</p>
    
    <!-- membuat id dalam p -->
    <p id="merah">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni accusantium debitis ab praesentium odio tempore eveniet neque laborum voluptas, cumque pariatur et qui, sit dolores? Dolorum corporis commodi maiores nostrum.</p>
    
    <!-- membuat class dalam div -->
    <div class="gradient">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error architecto maiores quo fuga veritatis nihil enim esse voluptatum a, unde quia accusamus laboriosam. Corporis nemo dolores facere expedita sapiente!</p>
    </div>

    <div>
        <h5>Test</h5>
        <h5>Test2</h5>
    </div>
</body>
</html>